
.container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
  }
  
  
  /* Estilos para el título */
  .centered {
    text-align: left;
  }

  .img-fluid {
    width: 100%; /* Ajusta el ancho según lo necesites */

  }
  
